<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425103102520-2bpu7o52q61qelh53oudfh3dib1b0o51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425103102520-2bpu7o52q61qelh53oudfh3dib1b0o51</string>
	<key>API_KEY</key>
	<string>AIzaSyBpH9zHbQ_i0EArZ_yGNB1Nj5HCf_XTSCo</string>
	<key>GCM_SENDER_ID</key>
	<string>425103102520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sicklestudios.myams</string>
	<key>PROJECT_ID</key>
	<string>myams-33afc</string>
	<key>STORAGE_BUCKET</key>
	<string>myams-33afc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425103102520:ios:a93eb14b92fcd2e45f4ccd</string>
</dict>
</plist>